extends layout

block content
    h1 Athena Intelligence 
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In totam adipisci, ex quaerat, sit aut at consequuntur est odio esse hic facere officia omnis, animi aliquid nostrum quis eligendi quam.
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, delectus eius magnam quae temporibus cumque totam! Ratione repudiandae, quis veniam fuga beatae consequuntur maiores vitae provident dolores, ullam cumque animi.
block footer
    p about page footer
