html {
  font-size: 10px; }

body {
  background: #262161;
  background: #efefef; }
  body:before {
    content: "";
    display: block;
    background: linear-gradient(90deg, #48ded4 0%, #a026bf 20%, #e82c75 60%, #ffc40e 85%, #48ded4 95%);
    height: 10px;
    width: 100%; }

.inner {
  max-width: 900px;
  margin: 0 auto; }
  @media all and (max-width: 900px) {
    .inner {
      padding: 2rem; } }

@keyframes slideIn {
  0% {
    transform: translateX(-10px); }
  50% {
    transform: translateX(10px); }
  100% {
    transform: translateX(0px); } }

.flash {
  background: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
  padding: 2rem;
  position: relative;
  z-index: 1;
  border-radius: 3px;
  display: flex;
  animation: slideIn forwards 0.1s ease-in-out 2;
  animation-timing-function: cubic-bezier(0.01, 1.68, 0.58, 1); }
  .flash + .flash {
    animation-delay: 0.55s; }
    .flash + .flash + .flash {
      animation-delay: 0.6s; }
  .flash__text {
    flex: 1; }
  .flash__remove {
    background: none;
    border: 0; }
    .flash__remove:hover {
      color: #ffc40e; }
  .flash:after {
    content: "";
    display: block;
    background: white;
    position: absolute;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    top: 8px;
    left: 8px;
    z-index: -1;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px; }
  .flash--success {
    background: linear-gradient(135deg, #d2ff52 0%, #91e842 100%); }
  .flash--error {
    background: linear-gradient(20deg, red 0%, #c80000 100%); }
  .flash--info {
    background: linear-gradient(35deg, #f1e767 0%, #feb645 100%); }
  .flash p {
    margin: 0; }

.productss {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.product {
  background: white;
  margin: 10px 0;
  width: 30%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.05); }
  .product--wide {
    width: 100%; }
  .product__details {
    padding: 2rem; }
    .product__details p {
      line-height: 1.2;
      margin-bottom: 0; }
  @media all and (max-width: 850px) {
    .product {
      width: 48%; } }
  @media all and (max-width: 550px) {
    .product {
      width: 100%; } }

.product__actions {
  position: relative;
  z-index: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2);
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-around; }

.product__action {
  font-size: 10px; }
  .product__action svg {
    width: 25px;
    fill: white; }
  .product__action--edit a {
    border-bottom: 0; }

.product__hero {
  position: relative;
  padding: 0 10px 0 10px;
  text-align: right; }
  .product__hero:before {
    display: block;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(45deg, #05b3d6 0%, rgba(5, 179, 214, 0) 70%), linear-gradient(135deg, #0958ec 10%, rgba(9, 88, 236, 0) 80%), linear-gradient(225deg, #d209ec 10%, rgba(210, 9, 236, 0) 80%), linear-gradient(315deg, #05e129 100%, rgba(5, 225, 41, 0) 70%);
    opacity: 0.6;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%); }
  .product__hero img {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    position: absolute;
    left: 0;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%); }
