mixin productForm(product ={})
  form.form(action="/productForm" method='POST')
      h2 Product
      label(for="prod_name") prod_name 
      input(type="text" name="prod_name" required)
      label(for="prod_desc") prod_desc 
      input(type="text" name="prod_desc" required)
      label(for="prod_price") prod_price
      input(type="number" name="prod_price" required)
      input.button(type="submit" value="Submit")
      